.two-columns {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
}

/* Increase font size for all normal text */
li {
    font-size: 1.1em;
}

/* Increase font size for all normal text */
.line, .slidev-code-highlighted {
    font-size: 1.2em;
}

.large-python-slide pre code {
    font-size: 0.75em; /* Adjust the size as needed */
    line-height: 0.6 !important;
  }

.red-background {
    color: white;
    background-color: rgb(200,25,25);
}



/* pre > span */